{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Знайти кімнату</title>
    <link rel="icon" type="image/x-icon" href="{% static 'icons/icons8-brutus-32.ico' %}">
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<div class="background">
    <div class="container">
        <h1>{{ title }}</h1>
        {% if msg %}
          <p style="color: green;">{{ msg }}</p>
        {% endif %}

        <ul>
          {% for room in rooms %}
            <li>
              <strong>{{ room.title }}</strong> — {{ room.owner.username }} — {{ room.price }} грн
              <form method="post" action="/delete-room/" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="room_id" value="{{ room.id }}">
                <button type="submit" style="color:red;">Видалити</button>
              </form>
            </li>
          {% empty %}
            <li>Кімнат немає</li>
          {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
